<h2>Chat</h2>
<hr />
<div class="app-mensajes container">
  <div *ngFor="let chat of servicio.chats">
      <div *ngIf="servicio.usuario.uid == chat.uid" class="text-right">
    <div class="col-12">

        <span class="small">{{ chat.fecha | date: "short" }} </span
        ><span
        ><img
          style="width: 40px; border-radius: 50%;"
          [src]="chat.imagen"
      /></span>
      </div>

      <p
        class="container overflow-auto border-danger border-bottom rounded-left"
      >
        {{ chat.mensaje }}
      </p>
    </div>
    <div *ngIf="servicio.usuario.uid !== chat.uid; row" class="text-left">
    <div class="col-12">
     
        <span
          ><img
            style="width: 40px; border-radius: 50%;"
            [src]="chat.imagen"
        /></span>
        <span class="badge badge-primary">{{ chat.nombre }} </span
        ><span class="small">{{ chat.fecha | date: "short" }}</span>
      </div>
      <p class="container overflow-auto border-warning border-bottom rounded-left">
        {{ chat.mensaje }}
      </p>
      <br />
    </div>
  </div>
<div class="input">
  <input 
    id="app-mensajes"
    class="form-control"
    [(ngModel)]="mensaje"
    (keyup.enter)="enviar()"
  />
  <button class="btn btn-primary"  (click)="enviar()">enviar</button>
</div>
</div>
